@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.formlayout {
    position: absolute;
    display: flex;
    align-items: center;
    border: solid #e5e5e5;
    border-width: 0px;
    border-radius:0px;
    box-shadow: 5px 5px 12px rgba(206, 206, 206, 0.288);
    margin: 150px 20%;
    padding: 0px;
    background-color: #ececec;
}
.form {
    width: 55%;
    height: 100%;
    padding: auto 0;
    letter-spacing: 1.5px;
}
.login_photo {
    width: 45%;
    height: 600px;
    max-width: 100%;
    border-radius: 0px;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.form header {
    font-weight: 700;
    text-align: left;
    font-size: 20px;
}
.form input{
    width: calc(100% - 20px);
    padding: 10px 5px;
    margin-bottom: 1px;
    background-color: transparent;
    border-bottom: 2px solid #cac9c9;
    border-top: transparent;
    border-left: transparent;
    border-right: 0px;
    font-size: 16px;
    font-weight: 450;
    transition: .4s;
    text-align: left;
    letter-spacing: 1px;
    height: 23px;
    outline: none;
    padding-bottom: 3%;
}
main div span form div,
main div span div div {
    padding: 20px 10%;
}
.formlayout form label{
    font-weight: 500;
}
.formlayout form input:focus{
    border-bottom:2px solid #1d72e2;
    padding-top: 3%;
}
.form input::placeholder {
    color: #cccccc;
    text-align: left;
}
.formlayout form button {
    width: 77%;
    padding: 10px 0;
    border: none;
    background-color: rgb(94, 94, 94);
    font-size: 18px;
    background: #dddddd;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 60%;
    left: 10%;
    transform: translateY(-40%);
    transition: .5s;
}
.formlayout form a{
    color: #3c64b1;
}
.formlayout form a:hover{
    color: #d6334c;
}
.formlayout form .loginbutton:hover {
    background-color: #3374d6;
}

.psd{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(150, 14, 25, 0.3), rgba(5, 100, 21, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .layer-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .layer-video{
        width: auto;
        height: 100%;
    }
}
@media only screen and (max-width: 768px){
    .formlayout{
        border-radius: 10px 10px 0 0;
        align-content: center;
        padding-top: 50px;
    }
    img{
        width: 35px;
        position: absolute;
        top: -100px;
        left: 0%;
    }
    .login_photo{
        height: fit-content;
        width: fit-content;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .form{
        max-width: 420px;
        width: 100%;
        padding-top: 15%;
        align-content: center;
    }
}